.card {
  background: #fff;
  border-radius: 10rem;
  padding: 1em;
  color: #333;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.01);
  }

  &__photo {
    height: auto;
    width: 100%;
    border-radius: 10rem;
  }

  &__name {
    font-size: 1em;
  }
}
